/* ======================
      reset
========================== */
img {
   display: block;
   width: 100%;
}

button {
   all: unset;
}

p {
   margin: 0;
}
/* ======================
      typography
========================== */
h1 {
   color: #ddd;
}
.main-box {
   color: white;
}
/* ======================
      commons
========================== */
body {
   height: 100vh;
   background-color: #222;
   display: grid;
   place-items: center;
}

.ms_container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 1000px;
}

/* ======================
      buttons
========================== */
.prev,
.next {
   position: absolute;
   left: 50%;
   translate: -50%;
   font-size: 1.3rem;
   z-index: 6969;
   background-color: rgba(255, 255, 255, 0.5);
   width: 2rem;
   height: 2rem;
   text-align: center;
   line-height: 2rem;
   border-radius: 50%;
   margin: 0.4rem 0;
   cursor: pointer;
}

.next {
   bottom: 0;
}

.prev:hover,
.next:hover {
   background-color: rgb(255, 255, 255);
}
/* main box */

.main-box {
   position: relative;
   width: 75%;
   height: 21.875rem;
}
.item {
   display: none;
}
.main-box img {
   height: 100%;
   object-fit: cover;
}

.img-text-group {
   position: absolute;
   right: 0;
   bottom: 0;
   text-align: right;
}
/* aside */
aside.aside-box {
   width: 25%;
}

.img-box {
   display: flex;
   flex-wrap: wrap;
   position: relative;
}
.aside-box img {
   cursor: pointer;
}
.aside-box img:hover:not(.no-filter) {
   filter: brightness(0.6);
}
:where(.img-box) img {
   /*con where abbasso la specificità così può
	agire la classe no-filter*/
   height: calc(350px / 5);
   object-fit: cover;
   filter: brightness(0.4);
}
/* ======================
      js-utilities
========================== */
.no-filter {
   filter: unset;
   border: 1px solid white;
}
